{% extends 'AppFami/index.html' %}

{% block title%}Personas{% endblock %}

{% block body %}
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <form acction="" method="POST">
                {% csrf_token %}
                    {{my_form.as_p}}
                    <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
    <hr class="m-0" />
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h5>Las Personas ingresadas son: </h5>
            {% for per in personas %}
                <p>Nombre: {{per.nombre}} / Rut: {{per.rutpersona}} / Genero: {{per.genero}}</p>
            {% endfor %}
        </div>
    </div>


{% endblock %}
